.tree-view {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.tree-view .tree-view-row {
  display: flex;
  align-items: center;
}

.tree-view .tree-view-row:hover {
  background-color: rgba(207, 208, 209, 1);
  cursor: pointer;
}

.tree-view .tree-view-row .tree-view-row-content {
  position: absolute;
  display: flex;
  align-items: center;
}

.invisible {
  opacity: 0;
}

.svg-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  transform: rotate(90deg);
} 

.svg-icon.collapsed {
  transform: rotate(0deg);
} 
